<article id="main" class="headerTop" style="background-color: #fff; padding-top: 2em;">

	<section class="style4 container">

		<div class="row 150%">
			<div class="12u 12u(narrower)">

				<!-- Content -->
					<div class="content">
						<section>
							<!-- <a ui-sref="blogDetails" class="image featured"><img src="images/pic03.jpg" alt="" /></a> -->
							<div class="blogCaptionImge" style="background-image: url('images/students.jpg');">
								<div class="overlay">
									<div class="title">About Us</div>
								</div>
							</div>
							<header>
								<h3><strong>About Us</strong></h3>
							</header>
							<p>Eduplan is a civic development organization focused on developing the next generation on soft skills, non-cognitive skills and technical skills. We believe quality and inclusive education is a basic right of every child.</p>
							<h4><strong>REDUCING OUT-OF-SCHOOL CHILDREN IN NIGERIA</strong></h4>
							<p>
								According to the 2015 UNESCO institute for statistics, Nigeria has the highest number of out-of-school children with 8.7 million accounting for 47% of the world’s out-of-school children.

								The impact of this population segment on the nation’s economy has been draining and we can work together in reducing poverty while they also contribute positively to national development.

								In 2015, Nigeria lost over 1.88 trillion Naira and that figure could increase above 3 trillion Naira by 2030 if the present number of out-of-school children is not reduced.
							</p>

							<p>
								The ability to improve student skills to overcome different challenges they face in their family, community and academics.
								Developing students on life skills and learning skills, it helps them focus on the bigger picture and improve their educational drive.

								The STAPE approach helps students develop skills and undergo apprenticeship; its aim include:

								Reducing class size and student counselor ratio
								Track student dropout
								Identify students at risk of dropping out.
							</p>
						</section>
					</div>

			</div>
		</div>
	</section><br><br>

	

</article>