<section class="dataSearch headerTop">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="inputWrap clearfix">
				<form action="">
					<button class="search">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
					<input type="text" placeholder="Search Data">
				</form>
			</div>
		</div>
	</div>
</section>
<section class="dataContainer">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="miniwrap">

				<a href="../assets/pdf/FEDERAL MINISTRY OF EDUCATION.pdf" download="FEDERAL MINISTRY OF EDUCATION" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Federal Ministry of Education</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/2017 proposed education Allocation.pdf" download="2017 proposed education Allocation" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">2017 Proposed Education Allocation</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/ASUU.pdf" download="ASUU FGN.ASUU-INITIALED-AGREEMENT-JAN.-2009" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">ASUU FGN.ASUU-INITIALED-AGREEMENT-JAN.-2009</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/FTS RECRUITMENT FOR 2013-2015.pdf" download="FTS RECRUITMENT FOR 2013-2015" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">FTS RECRUITMENT FOR 2013-2015</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/Lagos Budget- Education.pdf" download="Lagos Budget- Education" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Lagos Budget- Education</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/NASS2017Budget.pdf" download="NASS 2017 Budget" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">NASS 2017 Budget</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

				<a href="../assets/pdf/SUMMARY OF FTS RECRUITMENT FROM 2006-2015.pdf" download="Summary of FTS Recruitment From 2006-2015" class="downloadTab clearfix">
					<span class="col-md-2 hidden-sm hidden-xs p-0">
						<span class="logo">
							<img src="images/pdfLogo.png" alt="">
						</span>
					</span>
					<span class="col-md-10 p-0">
						<span class="description">
							<span class="title">Summary of FTS Recruitment From 2006-2015</span>
							<span class="date">September 06, 2017</span>
						</span>
					</span>
				</a>

			</div>
		</div>
	</div>
</section>