<!-- Banner -->
<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('images/student.png')">
                <div class="overlay">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="caption">DEVELOP AN OUT-OF-SCHOOL CHILD</div>
                        <div class="smallCaption">The ability to improve student skills to overcome different challenges they face in their family, community and academics</div>
                        <a href="#" class="Dbtn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/b.jpg')">
                <div class="overlay">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="caption">Education Shapes the Future</div>
                        <div class="smallCaption">See how education has shaped the future for young people in GPE partner developing countries</div>
                        <a href="#" class="Dbtn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/s.jpg')">
                <div class="overlay">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="caption">The Voices of Youth are Essential </div>
                        <div class="smallCaption">We applaud young people’s efforts in making their voice heard and influencing education policies</div>
                        <a href="#" class="Dbtn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>

<!-- Main -->
    <article id="main">

        <header class="special container">
            <span class="icon fa fa-graduation-cap"></span>
            <h2><strong>OUR SOLUTION</strong></h2>
            <br />
            Eduplan aims to develop soft skills training in students to reduce out-of-school children in rural communities. By developing their mental abilities, they can develop the skills to overcome different life challenges in their family, school and community.
            
        </header>

        <!-- One -->
            <section class="hidden-sm hidden-xs style2 container special-alt" style="background-image: url();">
                <img src="images/eduplana.jpeg" alt="">
            </section>

        <!-- Two -->
            <section class="wrapper style1 container special">
                <div class="row">
                    <div class="4u 12u(narrower)">

                        <section>
                            <span class="icon featured fa fa-graduation-cap"></span>
                            <header>
                                <h3>Education Fund</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                        </section>

                    </div>
                    <div class="4u 12u(narrower)">

                        <section>
                            <span class="icon featured fa fa-book"></span>
                            <header>
                                <h3>Learning Facilities</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                        </section>

                    </div>
                    <div class="4u 12u(narrower)">

                        <section>
                            <span class="icon featured fa fa-bar-chart"></span>
                            <header>
                                <h3>Performance Indicators</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                        </section>

                    </div>
                </div>
            </section>

            <section id="cta">

        <header>
            <h2><strong>Education</strong> data</h2>
        </header>
        <footer>
            <div class="dataSelect">
                <select class="select">
                    <option value="">Select an Option</option>
                    <option value="#">Federal Ministry of Education</option>
                    <option value="#">States Ministry of Education</option>
                    <option value="#">Federal Education Agencies</option>
                    <option value="#">Universal Basic Education</option>
                    <option value="#">Federal Government Colleges</option>
                    <option value="#">Federal Technical Colleges</option>
                    <option value="#">Federal Polytechnics</option>
                    <option value="#">Federal Universities</option>
                </select>
            </div>
            <!-- <ul class="buttons">
                <li><a href="#" class="button special">Take My Money</a></li>
                <li><a href="#" class="button">LOL Wut</a></li>
            </ul> -->
        </footer>

    </section>

        <!-- Three -->
            <section class="wrapper style3 container special">

                <header class="major">
                    <h2><strong class="brandColor">Infographics</strong></h2>
                </header>

                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info1.jpg" style="background-image: url('images/info1.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info2.jpg" style="background-image: url('images/info2.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">West African States Allocation</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info3.jpg" style="background-image: url('images/info3.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Allocation Percentage</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info4.jpg" style="background-image: url('images/info4.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">EFCC investigation of Prof. Daramola</a>
                        </div>
                    </div>
                </div>

                <footer class="major">
                    <ul class="buttons">
                        <li><a ui-sref="infographics" class="button">See More</a></li>
                    </ul>
                </footer>

            </section>

    </article>


<!-- The Modal -->
<div class="modal myImgModal">
  <span class="Imgclose">&times;</span>
  <img class="modal-content img01">
  <div class="Imgcaption"></div>
</div>