
<!-- Main -->
    <article id="main">

        <!-- Three -->
            <section class="wrapper style3 container special">

                <header class="major">
                    <h2><strong class="brandColor">Our Infographics</strong></h2>
                </header>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/1.jpeg" class="popup">
                                <img src="images/1.jpeg" alt="New ASSU Demands">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">New ASSU Demands</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/2.jpeg" class="popup">
                                <img src="images/2.jpeg" alt="Joint Admissions Matriculation Board">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Joint Admissions Matriculation Board</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/3.jpeg" class="popup">
                                <img src="images/3.jpeg" alt="2016 TETFUND Intervention">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2016 TETFUND Intervention</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/4.jpg" class="popup">
                                <img src="images/4.jpg" alt="Ongoing LAUTECH Strick">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Ongoing LAUTECH Strick</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/5.jpg" class="popup">
                                <img src="images/5.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/6.jpg" class="popup">
                                <img src="images/6.jpg" alt="2016 TETFUND Intervention">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2016 TETFUND Intervention</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/7.jpg" class="popup">
                                <img src="images/7.jpg" alt="Lagos State 2016 Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Lagos State 2016 Education Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/8.jpg" class="popup">
                                <img src="images/8.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/9.jpeg" class="popup">
                                <img src="images/9.jpeg" alt="Revitalization Fund of University System">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Revitalization Fund of University System</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info1.jpg" class="popup">
                                <img src="images/info1.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info2.jpg" class="popup">
                                <img src="images/info2.jpg" alt="West African States Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">West African States Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info3.jpg" class="popup">
                                <img src="images/info3.jpg" alt="Allocation Percentage">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Allocation Percentage</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info4.jpg" class="popup">
                                <img src="images/info4.jpg" alt="EFCC investigation of Prof. Daramola">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">EFCC investigation of Prof. Daramola</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info5.jpg" class="popup">
                                <img src="images/info5.jpg" alt="Federal Science and Technology College Total Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Science and Technology College Total Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info6.jpg" class="popup">
                                <img src="images/info6.jpg" alt="West African States Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">West African States Allocation</a>
                        </div>
                    </div>
                </div>

				<div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info7.jpg" class="popup">
                                <img src="images/info7.jpg" alt="State Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">State Education Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info8.jpg" class="popup">
                                <img src="images/info8.jpg" alt="Federal Universities Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Universities Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info9.jpg" class="popup">
                                <img src="images/info9.jpg" alt="Education Agencies Capital Spending">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Education Agencies Capital Spending</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info10.jpg" class="popup">
                                <img src="images/info10.jpg" alt="Federal Education Agencies Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Education Agencies Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info11.jpg" class="popup">
                                <img src="images/info11.jpg" alt="Federal Polytechnics Proposed Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Polytechnics Proposed Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info12.jpg" class="popup">
                                <img src="images/info12.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>
                    </div>
                </div>
                <div class="row imgPopSection">
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info13.jpg" class="popup">
                                <img src="images/info13.jpg" alt="Federal Technical Colleges Total Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Technical Colleges Total Allocation</a>
                        </div>

                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info14.jpg" class="popup">
                                <img src="images/info14.jpg" alt="States Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">States Education Allocation</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info15.jpg" class="popup">
                                <img src="images/info15.jpg" alt="States Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">States Allocation</a>
                        </div>

                    </div>
                </div>
                <div class="row imgPopSection">
                    
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/info1.jpeg" class="popup">
                                <img src="images/info1.jpeg" alt="Growing Numbers of Federal Universities">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Growing Numbers of Federal Universities</a>
                        </div>
                    </div>
                    <div class="4u 6u(narrower)">

                        <section class="infographic_wrap">
                            <a href="images/10.jpg" class="popup">
                                <img src="images/10.jpg" alt="2017 Proposed Education Allocation">
                            </a>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>
                    </div>
                </div>
               

            </section>

    </article>


<!-- The Modal -->
<div class="modal myImgModal">
  <span class="Imgclose">&times;</span>
  <img class="modal-content img01">
  <div class="Imgcaption"></div>
</div>