
<!-- Main -->
    <article id="main">

        <!-- Three -->
            <section class="wrapper style3 container special">

                <header class="major">
                    <h2><strong class="brandColor">Our Infographics</strong></h2>
                </header>

                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info1.jpg" style="background-image: url('images/info1.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info2.jpg" style="background-image: url('images/info2.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">West African States Allocation</a>
                        </div>

                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info3.jpg" style="background-image: url('images/info3.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Allocation Percentage</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info4.jpg" style="background-image: url('images/info4.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">EFCC investigation of Prof. Daramola</a>
                        </div>
                    </div>
                </div>

                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info5.jpg" style="background-image: url('images/info5.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Science and Technology College Total Allocation</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info6.jpg" style="background-image: url('images/info6.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">West African States Allocation</a>
                        </div>
                    </div>
                </div>
				<div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info7.jpg" style="background-image: url('images/info7.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">State Education Allocation</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info8.jpg" style="background-image: url('images/info8.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Universities Allocation</a>
                        </div>
                    </div>
                </div>
                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info9.jpg" style="background-image: url('images/info9.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Education Agencies Capital Spending</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info10.jpg" style="background-image: url('images/info10.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Education Agencies Allocation</a>
                        </div>
                    </div>
                </div>
                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info11.jpg" style="background-image: url('images/info11.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Polytechnics Proposed Allocation</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info12.jpg" style="background-image: url('images/info12.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">2017 Proposed Education Allocation</a>
                        </div>
                    </div>
                </div>
                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info13.jpg" style="background-image: url('images/info13.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Federal Technical Colleges Total Allocation</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info14.jpg" style="background-image: url('images/info14.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">States Education Allocation</a>
                        </div>
                    </div>
                </div>
                <div class="row imgPopSection">
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                        <div class="img myImg" data-src="images/info15.jpg" style="background-image: url('images/info15.jpg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">States Allocation</a>
                        </div>

                    </div>
                    <div class="6u 12u(narrower)">

                        <section class="infographic_wrap">
                            <div class="img myImg" data-src="images/info1.jpeg" style="background-image: url('images/info1.jpeg');"></div>
                        </section>
                        <div class="infographCaption">
                            <a href="#">Growing Numbers of Federal Universities</a>
                        </div>
                    </div>
                </div>
               

            </section>

    </article>


<!-- The Modal -->
<div class="modal myImgModal">
  <span class="Imgclose">&times;</span>
  <img class="modal-content img01">
  <div class="Imgcaption"></div>
</div>